@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 247, 255, 251;
  --background-end-rgb: 255, 255, 255;
  --input-border: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --input-border: white;
  }
}
html {
  font-family: var(--font-spicy);
}

body {
  background: rgba(246, 90, 79, 255);
}

body.modal-open {
  overflow: hidden;
}

dialog {
  width: 400px;
  border-radius: 8px;
  border: 4px solid black;
  background-color: #fdfd96;
  box-shadow: 4px 6px 1px black;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.3);
}

form input {
  box-sizing: border-box;
  padding-left: 5px;
}

form input::placeholder {
  padding: 5px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 4px solid black;
  border-radius: 0.375rem;
  padding: 0;
  margin: 0.5rem 0;
}

/* input {
  border: 1px solid var(--input-border);
  border-radius: 8px;
} */

.test {
  animation-name: animate-pop;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.delay0 {
  animation-delay: 0.05s;
}
.delay1 {
  animation-delay: 0.1s;
}
.delay2 {
  animation-delay: 0.15s;
}
.delay3 {
  animation-delay: 0.2s;
}
.delay4 {
  animation-delay: 0.25s;
}
.delay5 {
  animation-delay: 0.3s;
}
.delay6 {
  animation-delay: 0.35s;
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* .text-neotext::after {
  content: '';
  width: 40px;
  height: 30px;
  background-color: #acc8e5;
  position: absolute;
  border-radius: 100%;
  top: 0;
  left: -0.35rem;
  z-index: -1;
  display: flex;
}

.text-neotext::before {
  content: '';
  width: 40px;
  height: 30px;
  background-color: #acc8e5;
  position: absolute;
  border-radius: 100%;
  bottom: 0rem;
  right: -0.35rem;
  z-index: -1;
  display: flex;
} */
