@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 247, 255, 251;
  --background-end-rgb: 255, 255, 255;
  --input-border: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --input-border: white;
  }
}
html {
  font-family: var(--font-spicy);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body.modal-open {
  overflow: hidden;
}

dialog {
  width: 400px;
  border-radius: 8px;
  border: 1px solid #888;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.3);
}

form input {
  box-sizing: border-box;
  padding-left: 5px;
}

form input::placeholder {
  padding: 5px;
}

input {
  border: 1px solid var(--input-border);
  border-radius: 8px;
}
